@font-face {
  src: url('../Fonts/scoreboard.ttf');
}

.root{
  -fx-background-image: url('../Images/BG_BT.png');
}

.button {
  -fx-text-fill: WHITE;
  -fx-font-family: "System";
  -fx-font-weight: BOLD;
  -fx-background-color: linear-gradient(#625fc6, #14118e);
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
  -fx-background-color: linear-gradient(#14118e, #625fc6);
}

#Label_Title{
  -fx-font-weight: BOLD;
}

#Label_Event{
  -fx-font-size: 16 px;
  -fx-text-fill: BLACK;
}

#Label_Username{
  -fx-font-size: 16 px;
  -fx-text-fill: BLACK;
}

#Text_News {
  -fx-text-fill: BLACK;
  -fx-font-size: 16px;
}

#Score{
  -fx-font-family: 'Score Board';
  -fx-font-size: 24px;
}